{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<head>
    <title>Modulverwaltung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <link rel="stylesheet" href="{% static '/styles/bootstrap-theme.min.css' %}">
</head>
<body>

<div class="container">
    <div class="page-header">
        {% if user.is_authenticated %}
            <div class="pull-right">
                <span style="padding-right: 5px">{{ user.get_username }}</span>
            <a href="{% url 'accounts:logout' %}" >{% bootstrap_icon "log-out" %}</a></div>

        {% endif %}
        <h1><a href="/">Modulverwaltung</a></h1>
    </div>
    {% block content %}
    {% endblock %}
</div>
<script src="{% static '/scripts/main.js' %}"></script>
</body>
</html>