{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <h4>Module</h4>
            <div id="modules">
                {% for semester in my_semesters %}
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">

                            <h3 class="panel-title pull-left">
                                <a href={{"#panel-"|add:semester.name|slice:"0:11"}} data-toggle="collapse">
                                    {{ semester.name }}
                                </a>
                            </h3>

                            <a href={{"#panel-"|add:semester.name|slice:"0:11"}}  data-toggle="collapse" class="collapse-icon pull-right">
                                {% bootstrap_icon "chevron-down" %}
                            </a>
                        </div>
                        <div id={{"panel-"|add:semester.name|slice:"0:10"}}  class="panel-body collapse">
                            <ul class="list-group">
                                {% for assignment in semester.assignments %}
                                    <li class="list-group-item">
                                        <span class="badge">
                                            <a href="{% url 'app:assignment-edit' pk=assignment.pk %}"  class="btn btn-link" role="button">{% bootstrap_icon "edit" %}</a>&nbsp;
                                            <a href="{% url 'app:assignment-delete' pk=assignment.pk %}" class="btn btn-link" role="button">{% bootstrap_icon "remove-circle" %}</a>
                                        </span>
                                        {{ assignment.module.Name }} ({{ assignment.module.MID }}) <small> {% if assignment.score %}{{ assignment.score }}{% endif %}
                                        {% if assignment.accredited %}anerkannt{% endif %}</small>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                {% endfor %}

                <p>
                    <a href="{% url 'app:assignment_new' %}" class="btn btn-link" role="button">Modul hinzufügen</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <h4>Notenspiegel</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Semester</td>
                    <td>Fach</td>
                    <td>Note</td>
                </tr>
                </thead>
                <tbody>
                {% for entry in all_scores %}
                    <tr>
                        <td>{{ entry.semester }}</td>
                        <td>{{ entry.module.Name }}</td>
                        <td>{{ entry.score }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><strong>Durchschnitt</strong></td>
                    <td><strong>{{ median }}</strong></td>
                </tr>
                </tbody>
            </table>
            <hr/>
            <h4> Noch offene Module:</h4>
            <ul class="list-unstyled">
                {% for module in available_modules %}
                    {% if not module.WPF %}
                    <li class="">{{ module.Name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr/>
            <h4> Noch wählbare Wahlpflichtmodule:</h4>
            <span>noch offen: {{ wpf_count }}</span>
            <ul class="list-unstyled">
                {% for module in available_modules %}
                    {% if module.WPF %}
                    <li class="">{{ module.Name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}