{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>My Assignments</h2>
    <table class ="table">
    {% for entry in my_assignments %}
         <tr>
                <td>{{ entry.student }}</td>
                <td>{{ entry.module }}</td>
                <td>{{ entry.semester }}</td>
                <td>{{ entry.accredited }}</td>
                <td>{{ entry.score }}</td>
            </tr>
    {% endfor %}
    </table>

    <hr>

    <h2>All Modules</h2>
     <table class ="table">
        {% for entry in all_entries %}
            <tr>
                <td>{{ entry.MID }}</td>
                <td>{{ entry.Name }}</td>
                <td>{{ entry.WPF }}</td>
                <td>{{ entry.SS }}</td>
                <td>{{ entry.WS }}</td>
                <td>{{ entry.CP }}</td>
                <td>{{ entry.discipline }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}